RewriteEngine On

# If the request is not an existing file or directory,
# append .php to the request
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ $1.php [L]
